<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
           <argument name="commands" xsi:type="array">
                <item name="wkdcodeAddDoor" xsi:type="object">Wkdcode\GarageModule\Console\Command\AddDoor</item>
            </argument>
        </arguments>
    </type>
    <preference type="Wkdcode\GarageModule\Model\Door" for="Wkdcode\GarageModule\Api\Data\DoorInterface"/>
    <preference type="Wkdcode\GarageModule\Model\DoorRepository" for="Wkdcode\GarageModule\Api\DoorRepositoryInterface"/>

    <preference type="Magento\Catalog\Model\Category" for="Wkdcode\GarageModule\Api\Data\CategoryInterface"/>
    <preference type="Wkdcode\GarageModule\Model\CategoryWordpressList" for="Wkdcode\GarageModule\Api\CategoryRepositoryInterface"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wkdcode_doors_grid_data_source" xsi:type="string">Wkdcode\GarageModule\Model\ResourceModel\Door\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="base_tax_amount" xsi:type="string">sales_order.base_tax_amount</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="WkdcodeLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">main</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="debug" xsi:type="object">Wkdcode\GarageModule\Model\DebugHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Wkdcode\GarageModule\Observer\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">WkdcodeLogger</argument>
        </arguments>
    </type>
    <type name="Wkdcode\GarageModule\Console\Command\AddDoor">
        <plugin name="console_logging" type="Wkdcode\GarageModule\Plugin\Logger"/>
    </type>
</config>
