<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <preference type="Magento\Catalog\Model\Category" for="MiltonBayer\General\Api\Data\CategoryInterface"/>
    <preference type="MiltonBayer\General\Model\CategoryWordpressList" for="MiltonBayer\General\Api\CategoryRepositoryInterface"/>

    <preference for="Magento\Catalog\Model\Product" type="MiltonBayer\General\Model\Product" />
    <preference for="Magento\Catalog\Model\Product\Type\Price" type="MiltonBayer\General\Model\Product\Type\Price" />
    <preference for="Magento\Catalog\Model\Layer\Filter\Item" type="MiltonBayer\General\Model\Layer\Filter\Item" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Price" type="MiltonBayer\General\Model\Layer\Filter\Price" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Attribute" type="MiltonBayer\General\Model\Layer\Filter\Attribute" />
    <preference for="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection" type="MiltonBayer\General\Model\ResourceModel\Fulltext\Collection" />
    <preference for="Magento\Eav\Model\Entity\Attribute\Source\Table" type="MiltonBayer\General\Model\Entity\Attribute\Source\Table" />
    <preference for="Magento\LayeredNavigation\Block\Navigation\FilterRenderer" type="MiltonBayer\General\Block\Navigation\FilterRenderer" />
    <preference for="Magento\LayeredNavigation\Block\Navigation\FilterRendererInterface" type="MiltonBayer\General\Block\Navigation\FilterRendererInterface" />
    <preference for="Magento\Search\Model\Search" type="MiltonBayer\General\Model\Search" />
    <preference for="Magento\Theme\Block\Html\Pager" type="MiltonBayer\General\Block\Html\Pager" />

    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="MiltonBayer\General\Block\Product\ProductList\Toolbar" />
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="MiltonBayer\General\Block\Product\ListProduct" />
    <preference for="Magento\Catalog\Block\Product\View\Options\Type\Select" type="MiltonBayer\General\Block\Product\View\Options\Type\Select" />
    <preference for="Magento\Catalog\Model\Product\Option\Repository" type="MiltonBayer\General\Model\Product\Option\Repository" />
    <preference for="Magento\Catalog\Model\Product\Option\Value" type="MiltonBayer\General\Model\Product\Option\Value" />
    <preference for="Magento\Catalog\Model\Product\Option" type="MiltonBayer\General\Model\Product\Option" />

    <type name="Magento\Eav\Model\ResourceModel\Entity\Attribute">
        <plugin name="afterAfterSave" type="MiltonBayer\General\Plugin\Model\ResourceModel\Entity\AttributePlugin" sortOrder="1" />
    </type>
</config>
